---
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const { 
  title, 
  description, 
  ogTitle = title,
  ogDescription = description,
  canonicalURL = Astro.url.href
} = Astro.props;
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} /> 

    {/* Open Graph para Redes Sociales (Facebook, LinkedIn, etc.) */}
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:site_name" content="Aduanas Anachi" />

    {/* Twitter Card (para cómo se ve la página en Twitter) */}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={ogTitle} />
    <meta name="twitter:description" content={ogDescription} />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>